@using Kdsh.Zamówienia.Models.Encje
@{
    string nrSklepu = Request.Cookies["idSklepu"]?.Value;
    Administrator admin = Session["admin"] as Administrator;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/ArkuszStylów.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <title>Zamówienia KDSH</title>
    @RenderSection("head", false)
</head>
<body>
    <span class="użytkownik">
        @if (admin == null)
        {
            if (!string.IsNullOrEmpty(nrSklepu))
            {
                <span>Sklep nr @nrSklepu</span>
            }
        }
        else
        {
            @admin.Nazwa<br />
            @Html.ActionLink("Wyloguj", "Wyloguj", "Admin")
        }
    </span>
    <div class="główneOkno">
        @RenderBody()
    </div>
</body>
</html>
