@using Kdsh.Zamówienia.Models.Encje
@{
    string nrSklepu = Request.Cookies["idSklepu"]?.Value;
    Administrator admin = Session["admin"] as Administrator;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/ArkuszStylów.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.js"></script>
    <title>Zamówienia KDSH</title>
    @RenderSection("head", false)
</head>
<body>
    <div class="menu">
        <span class="użytkownik">
            Zalogowany jako:
            @if (admin == null)
            {
                if (!string.IsNullOrEmpty(nrSklepu))
                {
                    <span>sklep nr <strong>@Html.DisplayFor(m => nrSklepu)</strong></span>
                }
            }
            else
            {
                <strong>@Html.DisplayFor(m => admin.Nazwa)</strong><text>, </text>
                @Html.ActionLink("Wyloguj", "Wyloguj", "Admin", null, new {@class = "linkCiemny"})
            }
        </span>
    </div>
    <div class="główneOkno">
        @RenderBody()
    </div>
</body>
</html>