@using Kdsh.Zamówienia.Models.Encje
@model Kdsh.Zamówienia.Models.Widok.Zamówienia.Dodaj
@{
    ViewBag.Title = "Dodaj zamówienie";
    Layout = "~/Views/_Szablon.cshtml";
    Zamówienie zamówienie = Model.Zamówienie;
    IEnumerable<Zasób> zasoby = Model.Zasoby;
    long? idSklepu = Session["idSklepu"] as long?;
}

@section head
{
    <script>
        function zasób_change(sender) {
            var zasóbNaKolory = [];

            @foreach (Zasób zasób in zasoby)
            {
                <text>var kolory = [];</text>

                foreach (Kolor kolor in zasób.Kolory)
                {
                    <text>
                        kolory.push([@kolor.Id, "@kolor.Nazwa.ToLower()"]);
                    </text>
                }

                <text>
                    zasóbNaKolory.push(kolory);
                </text>
            }

            var kolor = $('#kolor');
            var dostępneKolory = zasóbNaKolory[sender.value - 1];
            var wybórKoloru = $("#wybórKoloru");

            kolor.empty();

            for (var i = 0; i < dostępneKolory.length; i++) {
                var aktualnyKolor = dostępneKolory[i];
                var opcja = document.createElement("option");
                opcja.value = aktualnyKolor[0];
                opcja.text = aktualnyKolor[1];

                kolor.append(opcja);
            }

            if (dostępneKolory.length > 1) {
                wybórKoloru.show();
            } else {
                wybórKoloru.hide();
            }
        }
    </script>
}

<h2>Dodaj zamówienie</h2>
@using (Html.BeginForm("Dodaj", "Zamówienia"))
{
    @Html.HiddenFor(m => zamówienie.StatusId, new {Value = 1})
    <div>
        @Html.DropDownListFor(m => zamówienie.ZasóbId, zasoby.Select(z => new SelectListItem {Text = z.Nazwa, Value = z.Id.ToString()}), new {id = "zasób", onchange = "zasób_change(this)"})
    </div>
    <div id="wybórKoloru">
        @Html.LabelFor(m => zamówienie.Kolor)
        @Html.DropDownListFor(m => zamówienie.KolorId, new SelectListItem[0], new {id = "kolor"})
    </div>
    <div>
        @Html.LabelFor(m => zamówienie.Ilość)
        @Html.TextBoxFor(m => zamówienie.Ilość, new {type = "number"})
        @Html.ValidationMessageFor(m => zamówienie.Ilość)
    </div>
    if (idSklepu.HasValue)
    {
        @Html.HiddenFor(m => zamówienie.SklepId, new {Value = idSklepu})
    }
    else
    {
        <div>
            @Html.LabelFor(m => zamówienie.Sklep)
            @Html.DropDownListFor(m => zamówienie.SklepId, Model.Sklepy.Select(s => new SelectListItem {Text = s.Id.ToString(), Value = s.Id.ToString()}))
        </div>
    }
    <input type="submit" value="Dodaj zamówienie"/>
}

<script>
    $("#zasób").change();
</script>