@using Kdsh.Zamówienia.Models.Encje
@model IEnumerable<Zamówienie>
@{
    ViewBag.Title = "Zamówienia";
    Layout = "~/Views/_Szablon.cshtml";
    bool admin = Session["admin"] != null;
}

<h2>Zamówienia</h2>@Html.ActionLink("Dodaj zamówienie", "Dodaj")
<table>
    <thead>
        <tr>
            <th>Status</th>
            <th>Id</th>
            <th>Data złożenia</th>
            <th>Szczegóły</th>
            <th>Odbiorca</th>
            <th>Usuwanie</th>

            <th>
                @if (admin)
                {
                    <text>Zmiana statusu</text>
                }
                else
                {
                    <text>Potwierdzenie odbioru</text>
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Zamówienie zamówienie in Model)
        {
            <tr>
                <td>@zamówienie.Status.Nazwa</td>
                <td>@zamówienie.Id</td>
                <td>@Html.DisplayFor(m=>zamówienie.DataZłożenia)</td>
                <td>@zamówienie.Zasób.Nazwa @zamówienie.Kolor.Nazwa.ToLower() x @zamówienie.Ilość</td>
                <td>Sklep nr @zamówienie.SklepId</td>
                <td>
                    @if (admin || (zamówienie.StatusId == 1))
                    {
                        @Html.ActionLink("Usuń", "Usuń", new {id = zamówienie.Id})
                    }
                </td>

                <td>
                    @if (admin)
                    {
                        @Html.ActionLink("Zmień", "Status", new {id = zamówienie.Id})
                    }
                    else if (zamówienie.StatusId == 2)
                    {
                        @Html.ActionLink("Potwierdź", "PotwierdźOdbiór", new {id = zamówienie.Id})
                    }
                </td>
            </tr>
        }
    </tbody>
</table>