@using Kdsh.Zamówienia.Models.Encje
@model Kdsh.Zamówienia.Models.Widok.Zamówienia.Status
@{
    ViewBag.Title = "Status";
    Layout = "~/Views/_Szablon.cshtml";
    Zamówienie zamówienie = Model.Zamówienie;
}

<h2>Zmiana statusu</h2>
@using (Html.BeginForm("Status", "Zamówienia"))
{
    @Html.HiddenFor(m => zamówienie.Id)
    <div class="wiersz">
        @Html.LabelFor(m => zamówienie.Status)
        @Html.DropDownListFor(m => zamówienie.StatusId, Model.Statusy.Select(s => new SelectListItem {Text = s.Nazwa, Value = s.Id.ToString()}))
    </div>
    <div class="wiersz">
        @Html.LabelFor(m => zamówienie.Id)
        @Html.DisplayFor(m => zamówienie.Id)
    </div>
    <div class="wiersz">
        @Html.LabelFor(m => zamówienie.DataZłożenia)
        @Html.DisplayFor(m => zamówienie.DataZłożenia)
    </div>
    <div class="wiersz">
        <label>Szczegóły</label>
        @Html.DisplayFor(m => zamówienie.Zasób.Nazwa) @Html.DisplayFor(m => zamówienie.Kolor.Nazwa) x @Html.DisplayFor(m => zamówienie.Ilość)
    </div>
    <div class="wiersz">
        @Html.LabelFor(m => zamówienie.Sklep)
        @Html.DisplayFor(m => zamówienie.SklepId)
    </div>
    <input class="przyciskGranatowy" value="Potwierdź" type="submit"/>
    <button class="przyciskBiały" onclick="location.href='@Url.Action("Index")'" type="button">Anuluj</button>
}